# **RA1: quarterly panel data**

Dong Gyun Ko <br/>
last updated: september 13, 2022 <br/>

In [1]:
# import libraries

import numpy as np
import pandas as pd
import datetime as dt
import pandas_datareader as pdr
import pandas_datareader.data as web
from pandas_datareader import wb
from pandas_datareader.data import DataReader
import requests # python 3.6

import os
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
# set the working directory

os.chdir('/content/gdrive/MyDrive/Colab Notebooks/RA1_data')

In [3]:
# set the pandas display option

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

# pd.options.display.max_rows = 100
# pd.options.display.max_columns = 100

## **1. panel data**

### **1.1. python code** <br/>

In [4]:
# import the pooled data

df_q_pooled = pd.read_excel('df_q_pooled.xlsx').drop(columns=['Unnamed: 0'])
df_q_pooled['quarter'] = pd.to_datetime(df_q_pooled['quarter'])
df_q_pooled['quarter'] = df_q_pooled['quarter'].dt.to_period('Q')

In [5]:
# generate the advanced country dummy variable

df_q_pooled['dum_advanced'] = np.nan

advanced_country_list = ['KOR', 'AUT', 'BEL', 'CZE', 'DNK', 'EST', 'FIN', 'FRA', 'DEU', 'GRC',
                         'ISL', 'IRL', 'ITA', 'LVA', 'LTU', 'LUX', 'MLT', 'NLD', 'NOR', 'PRT',
                         'SMR', 'SVK', 'SVN', 'ESP', 'SWE', 'CHE', 'GBR', 'CYP', 'ISR', 'JPN',
                         'SGP', 'CAN', 'USA', 'AUS', 'NZL', 'PRI', 'MAC', 'HKG']

for i in range(0, len(advanced_country_list)):
  
    globals()['cond_advanced_country_{}'.format(i+1)] = (df_q_pooled['isocode'] == advanced_country_list[i])
    df_q_pooled.loc[globals()['cond_advanced_country_{}'.format(i+1)], 'dum_advanced'] = 1

In [6]:
# quarterly pooled dataset

df_q_pooled = df_q_pooled.sort_values(by=['isocode', 'quarter']).reset_index(drop=True)

df_q_pooled

,country,isocode,quarter,oecd_q_ggexp,oecd_q_gginv,oecd_q_rgdp_dcu,oecd_q_rgdp_usd,oecd_q_ca,oecd_q_stir,bis_q_ggdebt_m,...,imf_q_cpi,imf_q_gdpd,imf_q_neer,imf_q_reer,imf_q_ca,imf_q_stir_mm,imf_q_stir_3mtb,imf_q_stir_mp,fred_q_ggexp,dum_advanced
0,Aruba,ABW,1913Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aruba,ABW,1913Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aruba,ABW,1913Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aruba,ABW,1913Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Aruba,ABW,1914Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95041,Zimbabwe,ZWE,2021Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4984.783547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95042,Zimbabwe,ZWE,2021Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5520.552280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95043,Zimbabwe,ZWE,2021Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6497.511865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95044,Zimbabwe,ZWE,2022Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95045,Zimbabwe,ZWE,2022Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# generate the count matrix for quarterly pooled data

count_N_df_q_pooled = df_q_pooled.groupby(df_q_pooled['isocode']).count()
count_T_df_q_pooled = df_q_pooled.groupby(df_q_pooled['quarter']).count()

In [8]:
# filter (N)

# ggdebt
condN1 = (count_N_df_q_pooled['bis_q_ggdebt_m'] == 0)
condN2 = (count_N_df_q_pooled['bis_q_ggdebt_n'] == 0)
condN3 = (count_N_df_q_pooled['wb_q_ggdebt_d2'] == 0)
condN4 = (count_N_df_q_pooled['eustat_q_ggdebt'] == 0)
condN5 = (count_N_df_q_pooled['imf_q_ggdebt'] == 0)

# ggexp
condN6 = (count_N_df_q_pooled['oecd_q_ggexp'] == 0)
condN7 = (count_N_df_q_pooled['eustat_q_ggexp'] == 0)
condN8 = (count_N_df_q_pooled['imf_q_ggexp'] == 0)
condN9 = (count_N_df_q_pooled['fred_q_ggexp'] == 0)

count_N_df_q_pooled = count_N_df_q_pooled.loc[(~condN1 | ~condN2 | ~condN3 | ~condN4 | ~condN5) & (~condN6 | ~condN7 | ~condN8 | ~condN9)]
count_N_df_q_pooled = count_N_df_q_pooled.reset_index()

print('countries:', count_N_df_q_pooled['isocode'].unique().shape[0])

countries: 50

In [9]:
# filter (T)

# ggdebt
condT1 = (count_T_df_q_pooled['bis_q_ggdebt_m'] == 0)
condT2 = (count_T_df_q_pooled['bis_q_ggdebt_n'] == 0)
condT3 = (count_T_df_q_pooled['wb_q_ggdebt_d2'] == 0)
condT4 = (count_T_df_q_pooled['eustat_q_ggdebt'] == 0)
condT5 = (count_N_df_q_pooled['imf_q_ggdebt'] == 0)

# ggexp
condT6 = (count_T_df_q_pooled['oecd_q_ggexp'] == 0)
condT7 = (count_T_df_q_pooled['eustat_q_ggexp'] == 0)
condT8 = (count_T_df_q_pooled['imf_q_ggexp'] == 0)
condT9 = (count_T_df_q_pooled['fred_q_ggexp'] == 0)

count_T_df_q_pooled = count_T_df_q_pooled.loc[(~condT1 | ~condT2 | ~condT3 | ~condT4 | ~condT5) & (~condT6 | ~condT7 | ~condT8 | ~condT9)]
count_T_df_q_pooled = count_T_df_q_pooled.reset_index()

print('start:', count_T_df_q_pooled['quarter'].unique().min())
print('end:', count_T_df_q_pooled['quarter'].unique().max())

start: 1955Q1
end: 2022Q1

/usr/local/lib/python3.7/dist-packages/pandas/core/indexes/base.py:4024: RuntimeWarning: '<' not supported between instances of 'int' and 'Period', sort order is undefined for incomparable objects
  join_index = self.union(other)

In [10]:
# generate the panel data

# select the T
cond_T = (df_q_pooled['quarter'].dt.year >= 1955)

df_q_panel = df_q_pooled.loc[cond_T]

# select the N
print(count_N_df_q_pooled['isocode'].unique().shape[0])
isocode_list = count_N_df_q_pooled['isocode'].unique()

for i in range(0, count_N_df_q_pooled['isocode'].unique().shape[0]):
  
    globals()['cond_N{}'.format(i+1)] = (df_q_pooled['isocode'] == isocode_list[i])

df_q_panel = df_q_panel.loc[cond_N1 | cond_N2 | cond_N3 | cond_N4 | cond_N5 | cond_N6 | cond_N7 | cond_N8 | cond_N9 | cond_N10 | cond_N11 | cond_N12 | cond_N13 | cond_N14 | cond_N15 | cond_N16 | cond_N17 | cond_N18 | cond_N19 | cond_N20 | cond_N21 | cond_N22 | cond_N23 | cond_N24 | cond_N25 | cond_N26 | cond_N27 | cond_N28 | cond_N29 | cond_N30 | cond_N31 | cond_N32 | cond_N33 | cond_N34 | cond_N35 | cond_N36 | cond_N37 | cond_N38 | cond_N39 | cond_N40 | cond_N41 | cond_N42 | cond_N43 | cond_N44 | cond_N45 | cond_N46 | cond_N47 | cond_N48 | cond_N49 | cond_N50]

50

In [11]:
# select the columns

df_q_panel = df_q_panel[['country', 'isocode', 'quarter', 'dum_advanced', 
                         'oecd_q_ggexp', 'oecd_q_rgdp_dcu', 'oecd_q_rgdp_usd', 'oecd_q_ca', 'oecd_q_stir',
                         'bis_q_ggdebt_m', 'bis_q_ggdebt_n', 'bis_q_cbpr', 'bis_q_reer_b', 'bis_q_reer_n',
                         'wb_q_ggdebt_d1', 'wb_q_ggdebt_d2', 'wb_q_ggdebt_d3', 'wb_q_ggdebt_d4',
                         'eustat_q_ggdebt', 'eustat_q_ggexp',
                         'imf_q_ggexp', 'imf_q_rgdp', 'imf_q_cpi', 'imf_q_gdpd', 'imf_q_reer', 'imf_q_ca', 'imf_q_stir_mm',
                         'fred_q_ggexp']]

In [12]:
# generate the variables from the pooled data source

df_q_panel['pds_q_ggdebt'] = df_q_panel['bis_q_ggdebt_n']
df_q_panel['pds_q_ggexp'] = df_q_panel['imf_q_ggexp']
df_q_panel['pds_q_rgdp'] = df_q_panel['imf_q_rgdp']
df_q_panel['pds_q_reer'] = df_q_panel['bis_q_reer_b']
df_q_panel['pds_q_ca'] = df_q_panel['oecd_q_ca']
df_q_panel['pds_q_stir'] = df_q_panel['oecd_q_stir']

In [13]:
# replace the value of pds variables

# ggdebt (1)
bis_q_ggdebt_m_list = ['CHL', 'KOR']

for i in range(0, len(bis_q_ggdebt_m_list)):
  
    globals()['cond_bis_q_ggdebt_m_{}'.format(i+1)] = (df_q_panel['isocode'] == bis_q_ggdebt_m_list[i])
    df_q_panel.loc[globals()['cond_bis_q_ggdebt_m_{}'.format(i+1)], 'pds_q_ggdebt'] = df_q_panel['bis_q_ggdebt_m']

# ggdebt (2)
cond_wb_q_ggdebt_d1 = (df_q_panel['isocode'] == 'CYP')
df_q_panel.loc[cond_wb_q_ggdebt_d1, 'pds_q_ggdebt'] = df_q_panel['wb_q_ggdebt_d1']

# ggdebt (3)
wb_q_ggdebt_d2_list = ['AUT', 'BGR', 'BRA', 'CHE', 'CZE', 'DEU', 'DNK', 'EST', 'FIN', 'FRA', 
                       'IDN', 'IRL', 'ITA', 'LTU', 'LUX', 'LVA', 'MLT', 'NLD', 'NOR', 'POL', 
                       'PRT', 'ROU', 'SVK', 'SWE']

for i in range(0, len(wb_q_ggdebt_d2_list)):
  
    globals()['cond_wb_q_ggdebt_d2_{}'.format(i+1)] = (df_q_panel['isocode'] == wb_q_ggdebt_d2_list[i])
    df_q_panel.loc[globals()['cond_wb_q_ggdebt_d2_{}'.format(i+1)], 'pds_q_ggdebt'] = df_q_panel['wb_q_ggdebt_d2']

# ggdebt (4)
eustat_q_ggdebt_list = ['HRV', 'SVN']

for i in range(0, len(eustat_q_ggdebt_list)):
  
    globals()['cond_eustat_q_ggdebt_{}'.format(i+1)] = (df_q_panel['isocode'] == eustat_q_ggdebt_list[i])
    df_q_panel.loc[globals()['cond_eustat_q_ggdebt_{}'.format(i+1)], 'pds_q_ggdebt'] = df_q_panel['eustat_q_ggdebt']

# ggexp
cond_fred_q_ggexp = (df_q_panel['isocode'] == 'EST')
df_q_panel.loc[cond_fred_q_ggexp, 'pds_q_ggexp'] = df_q_panel['fred_q_ggexp']

# reer
imf_q_reer_list = ['AUS', 'AUT', 'BEL', 'BGR', 'BRA', 'CAN', 'CHE', 'CHL', 'COL', 'CYP', 
                   'CZE', 'DEU', 'DNK', 'ESP', 'FIN', 'FRA', 'GBR', 'GRC', 'HUN', 'IRL', 
                   'ISR', 'ITA', 'JPN', 'LUX', 'LVA', 'MEX', 'MLT', 'NLD', 'NOR', 'NZL', 
                   'POL', 'PRT', 'ROU', 'RUS', 'SGP', 'SVK', 'SWE', 'USA', 'ZAF']

for i in range(0, len(imf_q_reer_list)):
  
    globals()['cond_imf_q_reer_{}'.format(i+1)] = (df_q_panel['isocode'] == imf_q_reer_list[i])
    df_q_panel.loc[globals()['cond_imf_q_reer_{}'.format(i+1)], 'pds_q_reer'] = df_q_panel['imf_q_reer']

In [14]:
# quarterly panel data

df_q_panel = df_q_panel.sort_values(by=['isocode', 'quarter']).reset_index(drop=True)

df_q_panel

,country,isocode,quarter,dum_advanced,oecd_q_ggexp,oecd_q_rgdp_dcu,oecd_q_rgdp_usd,oecd_q_ca,oecd_q_stir,bis_q_ggdebt_m,...,imf_q_reer,imf_q_ca,imf_q_stir_mm,fred_q_ggexp,pds_q_ggdebt,pds_q_ggexp,pds_q_rgdp,pds_q_reer,pds_q_ca,pds_q_stir
0,Argentina,ARG,1955Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Argentina,ARG,1955Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Argentina,ARG,1955Q3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Argentina,ARG,1955Q4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,ARG,1956Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13495,South Africa,ZAF,2021Q2,NaN,NaN,NaN,NaN,NaN,8.600000,NaN,...,80.196367,7.139185e+09,3.510000,222850.4,70.1,2.228500e+11,1.136380e+12,80.196367,NaN,8.600000
13496,South Africa,ZAF,2021Q3,NaN,NaN,NaN,NaN,NaN,9.156667,NaN,...,78.671305,2.482808e+09,3.530000,224008.7,70.3,2.240090e+11,1.115900e+12,78.671305,NaN,9.156667
13497,South Africa,ZAF,2021Q4,NaN,NaN,NaN,NaN,NaN,10.156667,NaN,...,75.720268,3.494472e+09,3.626667,224479.8,70.9,2.244800e+11,1.131190e+12,75.720268,NaN,10.156667
13498,South Africa,ZAF,2022Q1,NaN,NaN,NaN,NaN,NaN,10.263333,NaN,...,76.993295,6.237743e+08,3.956667,226828.7,NaN,2.268290e+11,1.153130e+12,76.993295,NaN,10.263333
13499,South Africa,ZAF,2022Q2,NaN,NaN,NaN,NaN,NaN,11.090000,NaN,...,77.986125,NaN,4.476667,NaN,NaN,NaN,NaN,77.986125,NaN,11.090000

### **1.2. var. summary** <br/>

| |variable|abbreviation|unit|frequency|indicator|subject|measure|source|
|-|--------|------------|----|---------|---------|-------|-------|------|
|$Dummy$|||||||||
|1|advanced country dummy|dum_advanced|-|-|-|-|-|-|
|$OECD$|||||||||
|1|government final consumption expenditure, volume|oecd_q_ggexp|DCU, base year|quarterly|-|-|-|https://stats.oecd.org/Index.aspx?QueryId=61357#|
|2|gross domestic product, volume, market prices|oecd_q_rgdp_dcu|DCU, base year|quarterly|-|-|-|https://stats.oecd.org/Index.aspx?QueryId=61357#|
|3|gross domestic product, volume in USD, constant exchange rates|oecd_q_rgdp_usd|USD, 2015|quarterly|-|-|-|https://stats.oecd.org/Index.aspx?QueryId=61357#|
|4|current account balance as a percentage of GDP|oecd_q_ca|% of GDP|quarterly|-|-|-|https://stats.oecd.org/Index.aspx?QueryId=61357#|
|5|short-term interest rate|oecd_q_stir|% per annum|quarterly|-|-|-|https://stats.oecd.org/Index.aspx?QueryId=61357#|
|$BIS$|||||||||
|1|total credit to the government sector at market value (core debt)|bis_q_ggdebt_m|% of GDP|quarterly|CRE|-|market value|https://stats.bis.org/statx/srs/table/f5.1|
|2|total credit to the government sector at nominal value (core debt)|bis_q_ggdebt_n|% of GDP|quarterly|CRE|-|nominal value|https://stats.bis.org/statx/srs/table/f5.4|
|3|central bank policy rates|bis_q_cbpr|%|quarterly|CBP|-|-|https://stats.bis.org/statx/srs/table/l1|
|4|real effective exchange rate, broad(60 economies) indicies|bis_q_reer_b|2010=100|quarterly|EER|-|-|https://stats.bis.org/statx/srs/table/i2?m=B|
|5|real effective exchange rate, narrow(27 economies) indicies|bis_q_reer_n|2010=100|quarterly|EER|-|-|https://stats.bis.org/statx/srs/table/i2?m=B|
|$WB$|||||||||
|1|Gross PSD, General Gov.-D1, All maturities, Debt securities + loans, Nominal Value, % of GDP|wb_q_ggdebt_d1|% of GDP|quarterly|DP.DOD.DLD1.CR.GG.Z1|-|nominal value|https://databank.worldbank.org/source/Quarterly-Public-Sector-Debt/#|
|2|Gross PSD, General Gov.-D2, All maturities, D1+ SDRs + currency and deposits, Nominal Value, % of GDP|wb_q_ggdebt_d2|% of GDP|quarterly|DP.DOD.DLD2.CR.GG.Z1|-|nominal value|https://databank.worldbank.org/source/Quarterly-Public-Sector-Debt/#|
|3|Gross PSD, General Gov.-D3, All maturities, D2+other accounts payable, Nominal Value, % of GDP|wb_q_ggdebt_d3|% of GDP|quarterly|DP.DOD.DLD3.CR.GG.Z1|-|nominal value|https://databank.worldbank.org/source/Quarterly-Public-Sector-Debt/#|
|4|Gross PSD, General Gov.-D4, All maturities, D3+insurance, pensions, and standardized guarantees, Nominal Value, % of GDP|wb_q_ggdebt_d4|% of GDP|quarterly|DP.DOD.DLD2.CR.GG.Z1|-|nominal value|https://databank.worldbank.org/source/Quarterly-Public-Sector-Debt/#|
|$Eurostat$|||||||||
|1|government consolidated gross debt [S13: general government]|eustat_q_ggdebt|% of GDP|quarterly|GOV_10Q_GGDEBT [GD]|-|PC_GDP|https://ec.europa.eu/eurostat/databrowser/view/GOV_10Q_GGDEBT__custom_3260679/default/table?lang=en|
|2|final consumption expenditure [S13: general government]|eustat_q_ggexp|% of GDP|quarterly|GOV_10Q_GGNFA [P3]|-|PC_GDP / NSA|https://ec.europa.eu/eurostat/databrowser/view/GOV_10Q_GGNFA__custom_3263185/default/table?lang=en|
|$IMF$|||||||||
|1|general government final consumption expenditure, real|imf_q_ggexp|DCU|quarterly|NCGG_R_SA_XDC|-|real / SA|https://data.imf.org/?sk=4c514d48-b6ba-49ed-8ab9-52b0c1a0179b&sId=1390030341854|
|2|gross domestic product, real|imf_q_rgdp|DCU|quarterly|NGDP_R_SA_XDC|-|real / SA|https://data.imf.org/?sk=4c514d48-b6ba-49ed-8ab9-52b0c1a0179b&sId=1390030341854|
|3|prices, consumer price index, all items|imf_q_cpi|index|quarterly|PCPI_IX|-|-|https://data.imf.org/?sk=4c514d48-b6ba-49ed-8ab9-52b0c1a0179b&sId=1390030341854|
|4|gross domestic product, deflator|imf_q_gdpd|index|quarterly|NGDP_D_SA_IX|-|SA|https://data.imf.org/?sk=4c514d48-b6ba-49ed-8ab9-52b0c1a0179b&sId=1390030341854|
|5|exchange rates, real effective exchange rate based on consumer price index|imf_q_reer|index|quarterly|EREER_IX|-|real|https://data.imf.org/?sk=4c514d48-b6ba-49ed-8ab9-52b0c1a0179b&sId=1390030341854|
|6|supplementary items, current account, net (excluding exceptional financing)|imf_q_ca|USD|quarterly|BCAXF_BP6_USD|-|-|https://data.imf.org/?sk=4c514d48-b6ba-49ed-8ab9-52b0c1a0179b&sId=1390030341854|
|7|financial, interest rates, money market|imf_q_stir_mm|percent per annum|quarterly|FIMM_PA|-|-|https://data.imf.org/?sk=4c514d48-b6ba-49ed-8ab9-52b0c1a0179b&sId=1390030341854|
|$FRED$|||||||||
|1|real general government final consumption expenditure|fred_q_ggexp|DCU|quarterly|NCGGRSAXDC + isocode [alpha-2] + Q|-|real / SA|https://fred.stlouisfed.org/searchresults?st=real+general+government+final+consumption+expenditure|
|$PDS$|||||||||
|1|general government debt|pds_q_ggdebt|% of GDP|quarterly|-|-|-|pooled data source|
|2|general government consumption, real|pds_q_ggexp|DCU|quarterly|-|-|real / SA|pooled data source|
|3|gross domestic product, real|pds_q_rgdp|DCU|quarterly|-|-|real / SA|pooled data source|
|4|real effective exchange rate|pds_q_reer|index|quarterly|-|-|real|pooled data source|
|5|current account balance|pds_q_ca|% of GDP|quarterly|-|-|-|pooled data source|
|6|short-term interest rate|pds_q_stir|% per annum|quarterly|-|-|-|pooled data source|

### **1.3. data summary**

In [15]:
# number of countries & sample period

print('number of countries:', df_q_panel['isocode'].unique().shape[0])
print(df_q_panel['isocode'].unique())
print('start:', np.min(df_q_panel['quarter'].unique()))
print('end:', np.max(df_q_panel['quarter'].unique()))

number of countries: 50
['ARG' 'AUS' 'AUT' 'BEL' 'BGR' 'BRA' 'CAN' 'CHE' 'CHL' 'COL' 'CYP' 'CZE'
 'DEU' 'DNK' 'ESP' 'EST' 'FIN' 'FRA' 'GBR' 'GRC' 'HKG' 'HRV' 'HUN' 'IDN'
 'IND' 'IRL' 'ISR' 'ITA' 'JPN' 'KOR' 'LTU' 'LUX' 'LVA' 'MEX' 'MLT' 'NLD'
 'NOR' 'NZL' 'POL' 'PRT' 'ROU' 'RUS' 'SGP' 'SVK' 'SVN' 'SWE' 'THA' 'TUR'
 'USA' 'ZAF']
start: 1955Q1
end: 2022Q2

In [16]:
# non-null count by each variables

df_q_panel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13500 entries, 0 to 13499
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   country          13500 non-null  object
 1   isocode          13500 non-null  object
 2   quarter          13500 non-null  period[Q-DEC]
 3   dum_advanced     9180 non-null   float64
 4   oecd_q_ggexp     4340 non-null   float64
 5   oecd_q_rgdp_dcu  4456 non-null   float64
 6   oecd_q_rgdp_usd  4456 non-null   float64
 7   oecd_q_ca        3534 non-null   float64
 8   oecd_q_stir      4180 non-null   float64
 9   bis_q_ggdebt_m   3164 non-null   float64
 10  bis_q_ggdebt_n   4394 non-null   float64
 11  bis_q_cbpr       4583 non-null   object
 12  bis_q_reer_b     5700 non-null   float64
 13  bis_q_reer_n     5850 non-null   float64
 14  wb_q_ggdebt_d1   3141 non-null   float64
 15  wb_q_ggdebt_d2   3523 non-null   float64
 16  wb_q_ggdebt_d3   2577 non-null   float64
 17  wb_q_ggdebt_d4   651 non-null    float64
 18  eustat_q_ggdebt  2578 non-null   float64
 19  eustat_q_ggexp   2797 non-null   float64
 20  imf_q_ggexp      6173 non-null   float64
 21  imf_q_rgdp       6369 non-null   float64
 22  imf_q_cpi        11206 non-null  float64
 23  imf_q_gdpd       6048 non-null   float64
 24  imf_q_reer       6439 non-null   float64
 25  imf_q_ca         7445 non-null   float64
 26  imf_q_stir_mm    5644 non-null   float64
 27  fred_q_ggexp     2406 non-null   float64
 28  pds_q_ggdebt     5925 non-null   float64
 29  pds_q_ggexp      6174 non-null   float64
 30  pds_q_rgdp       6369 non-null   float64
 31  pds_q_reer       7591 non-null   float64
 32  pds_q_ca         3534 non-null   float64
 33  pds_q_stir       4180 non-null   float64
dtypes: float64(30), object(3), period[Q-DEC](1)
memory usage: 3.5+ MB

In [17]:
# descriptive statistics

pd.options.display.float_format = '{:.2f}'.format
round(df_q_panel.describe(), 2)

,dum_advanced,oecd_q_ggexp,oecd_q_rgdp_dcu,oecd_q_rgdp_usd,oecd_q_ca,oecd_q_stir,bis_q_ggdebt_m,bis_q_ggdebt_n,bis_q_reer_b,bis_q_reer_n,...,imf_q_reer,imf_q_ca,imf_q_stir_mm,fred_q_ggexp,pds_q_ggdebt,pds_q_ggexp,pds_q_rgdp,pds_q_reer,pds_q_ca,pds_q_stir
count,9180.00,4340.00,4456.00,4456.00,3534.00,4180.00,3164.00,4394.00,5700.00,5850.00,...,6439.00,7445.00,5644.00,2406.00,5925.00,6174.00,6369.00,7591.00,3534.00,4180.00
mean,1.00,6542472575848.33,45445265002657.84,927588342684.50,-0.63,8.65,65.37,60.35,96.15,100.15,...,96.94,-811218270.65,35.02,9786714.16,51.23,4341086182192.95,38993486399776.12,97.43,-0.63,8.65
std,0.00,21341904505376.79,147422616429373.91,1994209164892.58,4.30,6.34,39.61,34.97,18.08,17.21,...,16.13,18442322185.77,894.91,32293790.33,36.74,20844113378891.70,235020963922364.12,19.10,4.30,6.34
min,1.00,1365709967.41,8075649110.82,8956691869.00,-20.14,0.05,4.60,3.60,41.04,45.28,...,32.42,-255473000000.00,-0.68,9907.00,0.00,29962.28,1293591273.00,32.42,-20.14,0.05
25%,1.00,36126826394.71,187550515950.61,126901687722.33,-2.93,4.40,38.60,35.00,89.56,90.45,...,90.02,-1747000000.00,2.67,53192.70,26.90,10303425000.00,54868400000.00,89.78,-2.93,4.40
50%,1.00,158832000000.00,760965321672.18,268975028885.86,-0.63,7.00,57.10,53.20,97.58,98.45,...,97.97,-206755175.70,5.50,83369.98,44.48,49381450000.00,267076000000.00,97.94,-0.63,7.00
75%,1.00,460097500000.00,2316546626302.49,828358210890.16,1.71,11.46,84.10,75.80,102.43,106.97,...,103.71,1323288969.00,10.53,415719.32,69.80,143672750000.00,776728000000.00,103.85,1.71,11.46
max,1.00,180434000000000.00,1332547200000000.00,16533342932403.30,18.93,57.84,238.20,226.90,281.92,248.02,...,203.52,94237700000.00,61846.25,230259300.00,226.90,230259000000000.00,2920000000000000.00,281.92,18.93,57.84

## **2. count the data**

In [18]:
# generate the count matrix for each country's quarterly data

for i in range(0, df_q_panel['isocode'].unique().shape[0]):
  
    globals()['cond_isocode_{}'.format(i+1)] = (df_q_panel['isocode'] == df_q_panel['isocode'].unique()[i])
    globals()['df_isocode_{}'.format(i+1)] = df_q_panel.loc[globals()['cond_isocode_{}'.format(i+1)]]
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['df_isocode_{}'.format(i+1)].groupby(globals()['df_isocode_{}'.format(i+1)]['quarter']).count()

    globals()['cond_pds_q_ggdebt_{}'.format(i+1)] = (globals()['count_T_df_isocode_{}'.format(i+1)]['pds_q_ggdebt'] == 0)
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['count_T_df_isocode_{}'.format(i+1)].loc[~globals()['cond_pds_q_ggdebt_{}'.format(i+1)]]
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['count_T_df_isocode_{}'.format(i+1)].reset_index()

    print('country', df_q_panel['country'].unique()[i])
    print('isocode', df_q_panel['isocode'].unique()[i])
    print('start:', globals()['count_T_df_isocode_{}'.format(i+1)]['quarter'].unique().min())
    print('end:', globals()['count_T_df_isocode_{}'.format(i+1)]['quarter'].unique().max())
    print('obs.:', globals()['count_T_df_isocode_{}'.format(i+1)]['pds_q_ggdebt'].count())
    print('des. stat.', globals()['df_isocode_{}'.format(i+1)]['pds_q_ggdebt'].describe())
    print('')

country Argentina
isocode ARG
start: 1992Q4
end: 2021Q4
obs.: 117
des. stat. count   117.00
mean     63.06
std      31.71
min      25.80
25%      40.50
50%      54.80
75%      83.70
max     154.90
Name: pds_q_ggdebt, dtype: float64

country Australia
isocode AUS
start: 1988Q2
end: 2021Q4
obs.: 135
des. stat. count   135.00
mean     24.96
std      11.40
min       8.30
25%      15.30
50%      24.40
75%      32.90
max      54.60
Name: pds_q_ggdebt, dtype: float64

country Austria
isocode AUT
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     64.12
std      28.80
min       0.00
25%      67.64
50%      73.27
75%      82.32
max      87.11
Name: pds_q_ggdebt, dtype: float64

country Belgium
isocode BEL
start: 1995Q1
end: 2021Q4
obs.: 108
des. stat. count   108.00
mean    108.67
std      11.18
min      87.30
25%     102.30
50%     106.90
75%     112.27
max     135.70
Name: pds_q_ggdebt, dtype: float64

country Bulgaria
isocode BGR
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     22.89
std      18.39
min       0.00
25%      13.64
50%      19.87
75%      27.43
max      74.26
Name: pds_q_ggdebt, dtype: float64

country Brazil
isocode BRA
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     29.94
std      33.10
min       0.00
25%       0.00
50%       0.00
75%      60.38
max      88.84
Name: pds_q_ggdebt, dtype: float64

country Canada
isocode CAN
start: 1990Q1
end: 2021Q4
obs.: 128
des. stat. count   128.00
mean     80.08
std      12.30
min      56.10
25%      73.75
50%      79.95
75%      88.53
max     106.50
Name: pds_q_ggdebt, dtype: float64

country Switzerland
isocode CHE
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     35.52
std       7.79
min      25.19
25%      28.43
50%      32.22
75%      43.71
max      47.13
Name: pds_q_ggdebt, dtype: float64

country Chile
isocode CHL
start: 1998Q1
end: 2021Q4
obs.: 96
des. stat. count   96.00
mean    18.01
std      8.33
min      7.20
25%     11.25
50%     15.80
75%     22.83
max     39.00
Name: pds_q_ggdebt, dtype: float64

country Colombia
isocode COL
start: 1996Q4
end: 2021Q4
obs.: 101
des. stat. count   101.00
mean     38.07
std      12.54
min      11.90
25%      32.70
50%      35.50
75%      44.40
max      70.40
Name: pds_q_ggdebt, dtype: float64

country Cyprus
isocode CYP
start: 2000Q1
end: 2022Q1
obs.: 89
des. stat. count    89.00
mean     76.90
std      23.45
min      44.93
25%      57.39
50%      64.98
75%     102.44
max     120.24
Name: pds_q_ggdebt, dtype: float64

country Czech Republic
isocode CZE
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     28.40
std      13.24
min       0.00
25%      24.81
50%      29.93
75%      39.01
max      45.25
Name: pds_q_ggdebt, dtype: float64

country Germany
isocode DEU
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     58.46
std      24.33
min       0.00
25%      59.89
50%      65.55
75%      71.46
max      81.99
Name: pds_q_ggdebt, dtype: float64

country Denmark
isocode DNK
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     14.16
std      19.21
min       0.00
25%       0.00
50%       0.00
75%      36.08
max      46.99
Name: pds_q_ggdebt, dtype: float64

country Spain
isocode ESP
start: 1995Q1
end: 2021Q4
obs.: 108
des. stat. count   108.00
mean     71.82
std      26.21
min      34.90
25%      51.02
50%      62.55
75%     101.48
max     125.10
Name: pds_q_ggdebt, dtype: float64

country Estonia
isocode EST
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean      6.72
std       4.75
min       0.00
25%       4.43
50%       5.74
75%       9.26
max      19.66
Name: pds_q_ggdebt, dtype: float64

country Finland
isocode FIN
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     43.40
std      23.65
min       0.00
25%      37.55
50%      45.12
75%      64.70
max      75.59
Name: pds_q_ggdebt, dtype: float64

country France
isocode FRA
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     67.89
std      36.17
min       0.00
25%      59.55
50%      67.38
75%      96.40
max     117.29
Name: pds_q_ggdebt, dtype: float64

country United Kingdom
isocode GBR
start: 1966Q1
end: 2021Q4
obs.: 224
des. stat. count   224.00
mean     53.97
std      19.67
min      27.50
25%      39.90
50%      44.50
75%      71.17
max     103.50
Name: pds_q_ggdebt, dtype: float64

country Greece
isocode GRC
start: 2000Q1
end: 2021Q4
obs.: 88
des. stat. count    88.00
mean    143.78
std      37.32
min     100.10
25%     104.50
50%     144.75
75%     179.35
max     209.30
Name: pds_q_ggdebt, dtype: float64

country Hong Kong SAR, China
isocode HKG
start: 1999Q1
end: 2021Q4
obs.: 92
des. stat. count   92.00
mean    47.49
std     23.43
min     15.30
25%     22.48
50%     58.90
75%     67.15
max     85.60
Name: pds_q_ggdebt, dtype: float64

country Croatia
isocode HRV
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     53.14
std      21.86
min      21.00
25%      36.65
50%      41.65
75%      75.45
max      90.10
Name: pds_q_ggdebt, dtype: float64

country Hungary
isocode HUN
start: 1970Q4
end: 2021Q4
obs.: 205
des. stat. count   205.00
mean     62.65
std      13.97
min      26.60
25%      56.60
50%      61.40
75%      73.90
max      90.70
Name: pds_q_ggdebt, dtype: float64

country Indonesia
isocode IDN
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     12.43
std      14.30
min       0.00
25%       0.00
50%       0.00
75%      25.05
max      39.71
Name: pds_q_ggdebt, dtype: float64

country India
isocode IND
start: 1981Q1
end: 2021Q4
obs.: 164
des. stat. count   164.00
mean     70.17
std       8.52
min      48.30
25%      66.88
50%      69.65
75%      73.62
max      87.80
Name: pds_q_ggdebt, dtype: float64

country Ireland
isocode IRL
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     54.37
std      34.55
min       0.00
25%      29.77
50%      56.36
75%      75.65
max     124.55
Name: pds_q_ggdebt, dtype: float64

country Israel
isocode ISR
start: 1992Q3
end: 2021Q4
obs.: 118
des. stat. count   118.00
mean     80.94
std      16.72
min      59.10
25%      68.12
50%      77.25
75%      92.65
max     121.90
Name: pds_q_ggdebt, dtype: float64

country Italy
isocode ITA
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean    122.45
std      14.27
min     103.89
25%     109.96
50%     118.82
75%     135.28
max     159.34
Name: pds_q_ggdebt, dtype: float64

country Japan
isocode JPN
start: 1997Q4
end: 2021Q4
obs.: 97
des. stat. count    97.00
mean    162.54
std      38.51
min      82.70
25%     137.00
50%     164.20
75%     197.80
max     226.90
Name: pds_q_ggdebt, dtype: float64

country Korea, Rep.
isocode KOR
start: 1990Q4
end: 2021Q4
obs.: 125
des. stat. count   125.00
mean     21.35
std      13.81
min       4.60
25%       7.50
50%      20.70
75%      35.60
max      46.30
Name: pds_q_ggdebt, dtype: float64

country Lithuania
isocode LTU
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     26.20
std      13.51
min       0.00
25%      17.05
50%      24.35
75%      38.57
max      46.58
Name: pds_q_ggdebt, dtype: float64

country Luxembourg
isocode LUX
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     13.28
std       8.65
min       0.00
25%       7.35
50%      14.60
75%      21.34
max      28.00
Name: pds_q_ggdebt, dtype: float64

country Latvia
isocode LVA
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     25.16
std      17.70
min       0.00
25%      11.32
50%      19.82
75%      41.84
max      49.63
Name: pds_q_ggdebt, dtype: float64

country Mexico
isocode MEX
start: 1990Q4
end: 2021Q4
obs.: 125
des. stat. count   125.00
mean     27.18
std       6.84
min      18.50
25%      20.60
50%      26.90
75%      32.70
max      42.70
Name: pds_q_ggdebt, dtype: float64

country Malta
isocode MLT
start: 2000Q4
end: 2022Q1
obs.: 86
des. stat. count   86.00
mean    61.30
std      8.16
min     40.72
25%     57.07
50%     63.66
75%     67.50
max     71.28
Name: pds_q_ggdebt, dtype: float64

country Netherlands
isocode NLD
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     49.73
std      19.15
min       0.00
25%      49.41
50%      52.94
75%      60.24
max      73.14
Name: pds_q_ggdebt, dtype: float64

country Norway
isocode NOR
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     30.62
std      15.86
min       0.00
25%      27.82
50%      36.20
75%      41.83
max      52.41
Name: pds_q_ggdebt, dtype: float64

country New Zealand
isocode NZL
start: 1989Q4
end: 2021Q4
obs.: 129
des. stat. count   129.00
mean     29.40
std       6.30
min      15.60
25%      26.40
50%      29.70
75%      33.20
max      47.40
Name: pds_q_ggdebt, dtype: float64

country Poland
isocode POL
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     41.09
std      18.74
min       0.00
25%      41.25
50%      48.30
75%      52.76
max      58.70
Name: pds_q_ggdebt, dtype: float64

country Portugal
isocode PRT
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     85.75
std      42.59
min       0.00
25%      60.36
50%      77.25
75%     126.88
max     138.92
Name: pds_q_ggdebt, dtype: float64

country Romania
isocode ROU
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     22.45
std      14.31
min       0.00
25%      11.77
50%      21.49
75%      35.23
max      47.27
Name: pds_q_ggdebt, dtype: float64

country Russian Federation
isocode RUS
start: 1997Q4
end: 2021Q4
obs.: 97
des. stat. count    97.00
mean     30.18
std      33.36
min       7.10
25%      11.20
50%      15.60
75%      32.50
max     155.00
Name: pds_q_ggdebt, dtype: float64

country Singapore
isocode SGP
start: 1990Q1
end: 2021Q4
obs.: 128
des. stat. count   128.00
mean     93.45
std      18.52
min      67.00
25%      79.05
50%      94.75
75%     102.22
max     152.00
Name: pds_q_ggdebt, dtype: float64

country Slovak Republic
isocode SVK
start: 1995Q4
end: 2022Q1
obs.: 106
des. stat. count   106.00
mean     28.48
std      25.39
min       0.00
25%       0.00
50%      36.32
75%      53.71
max      63.41
Name: pds_q_ggdebt, dtype: float64

country Slovenia
isocode SVN
start: 1995Q4
end: 2022Q1
obs.: 94
des. stat. count   94.00
mean    47.61
std     23.67
min     18.20
25%     26.42
50%     37.65
75%     74.58
max     85.00
Name: pds_q_ggdebt, dtype: float64

country Sweden
isocode SWE
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count   109.00
mean     44.43
std      12.34
min       0.00
25%      37.60
50%      41.73
75%      49.81
max      69.09
Name: pds_q_ggdebt, dtype: float64

country Thailand
isocode THA
start: 1997Q1
end: 2021Q4
obs.: 100
des. stat. count   100.00
mean     27.01
std       8.62
min       3.60
25%      23.38
50%      27.20
75%      30.62
max      52.80
Name: pds_q_ggdebt, dtype: float64

country Turkiye
isocode TUR
start: 2001Q1
end: 2021Q4
obs.: 84
des. stat. count   84.00
mean    42.24
std     14.28
min     26.70
25%     31.38
50%     38.50
75%     48.90
max     78.70
Name: pds_q_ggdebt, dtype: float64

country United States
isocode USA
start: 1955Q1
end: 2021Q4
obs.: 268
des. stat. count   268.00
mean     60.07
std      20.23
min      35.90
25%      45.25
50%      56.25
75%      64.30
max     123.90
Name: pds_q_ggdebt, dtype: float64

country South Africa
isocode ZAF
start: 1960Q4
end: 2021Q4
obs.: 245
des. stat. count   245.00
mean     40.41
std       8.97
min      24.90
25%      32.30
50%      40.00
75%      46.30
max      72.30
Name: pds_q_ggdebt, dtype: float64

In [19]:
# generate the count matrix for each country's quarterly data

for i in range(0, df_q_panel['isocode'].unique().shape[0]):
  
    globals()['cond_isocode_{}'.format(i+1)] = (df_q_panel['isocode'] == df_q_panel['isocode'].unique()[i])
    globals()['df_isocode_{}'.format(i+1)] = df_q_panel.loc[globals()['cond_isocode_{}'.format(i+1)]]
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['df_isocode_{}'.format(i+1)].groupby(globals()['df_isocode_{}'.format(i+1)]['quarter']).count()

    globals()['cond_pds_q_ggexp_{}'.format(i+1)] = (globals()['count_T_df_isocode_{}'.format(i+1)]['pds_q_ggexp'] == 0)
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['count_T_df_isocode_{}'.format(i+1)].loc[~globals()['cond_pds_q_ggexp_{}'.format(i+1)]]
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['count_T_df_isocode_{}'.format(i+1)].reset_index()

    print('country', df_q_panel['country'].unique()[i])
    print('isocode', df_q_panel['isocode'].unique()[i])
    print('start:', globals()['count_T_df_isocode_{}'.format(i+1)]['quarter'].unique().min())
    print('end:', globals()['count_T_df_isocode_{}'.format(i+1)]['quarter'].unique().max())
    print('obs.:', globals()['count_T_df_isocode_{}'.format(i+1)]['pds_q_ggexp'].count())
    print('des. stat.', globals()['df_isocode_{}'.format(i+1)]['pds_q_ggexp'].describe())
    print('')

country Argentina
isocode ARG
start: 2004Q1
end: 2022Q1
obs.: 73
des. stat. count            73.00
mean    20454731506.85
std      3576286378.43
min     13129300000.00
25%     17557800000.00
50%     21715700000.00
75%     23499600000.00
max     24895700000.00
Name: pds_q_ggexp, dtype: float64

country Australia
isocode AUS
start: 1959Q3
end: 2022Q1
obs.: 251
des. stat. count            251.00
mean     45312653386.45
std      27144011372.74
min       9560000000.00
25%      23252500000.00
50%      40164000000.00
75%      64889000000.00
max     118314000000.00
Name: pds_q_ggexp, dtype: float64

country Austria
isocode AUT
start: 1995Q1
end: 2022Q2
obs.: 110
des. stat. count           110.00
mean    14407310909.09
std      1702363946.97
min     11466700000.00
25%     12827350000.00
50%     14886750000.00
75%     15535550000.00
max     18589000000.00
Name: pds_q_ggexp, dtype: float64

country Belgium
isocode BEL
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count           109.00
mean    20500306185.79
std      2219545198.29
min     16322900000.00
25%     18685900000.00
50%     21216300000.00
75%     22276100000.00
max     24959400000.00
Name: pds_q_ggexp, dtype: float64

country Bulgaria
isocode BGR
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count          109.00
mean    3129979811.03
std      492695809.55
min     1671944117.00
25%     2856278407.00
50%     3144909646.00
75%     3290505773.00
max     4651485774.00
Name: pds_q_ggexp, dtype: float64

country Brazil
isocode BRA
start: 1996Q1
end: 2022Q1
obs.: 105
des. stat. count           105.00
mean    47680708571.43
std      6888537246.13
min     32695200000.00
25%     40969800000.00
50%     49642700000.00
75%     54360300000.00
max     55927500000.00
Name: pds_q_ggexp, dtype: float64

country Canada
isocode CAN
start: 1961Q1
end: 2022Q1
obs.: 245
des. stat. count            245.00
mean     67166717959.18
std      23660416138.43
min      22811000000.00
25%      51413500000.00
50%      68505300000.00
75%      85289500000.00
max     113781000000.00
Name: pds_q_ggexp, dtype: float64

country Switzerland
isocode CHE
start: 1980Q1
end: 2022Q1
obs.: 169
des. stat. count           169.00
mean    15029809402.05
std      3083800457.05
min      9228399531.00
25%     13345300000.00
50%     15139700000.00
75%     17648800000.00
max     20972200000.00
Name: pds_q_ggexp, dtype: float64

country Chile
isocode CHL
start: 1996Q1
end: 2022Q2
obs.: 106
des. stat. count             106.00
mean    4974660943396.23
std     1439802592170.87
min     3124760000000.00
25%     3582237500000.00
50%     4841065000000.00
75%     6220880000000.00
max     8141930000000.00
Name: pds_q_ggexp, dtype: float64

country Colombia
isocode COL
start: 2005Q1
end: 2022Q1
obs.: 69
des. stat. count               69.00
mean    27186536231884.06
std      6679297386723.07
min     17188900000000.00
25%     21079300000000.00
50%     27411800000000.00
75%     31982100000000.00
max     40860800000000.00
Name: pds_q_ggexp, dtype: float64

country Cyprus
isocode CYP
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count          109.00
mean     768310825.69
std      181053797.96
min      414540000.00
25%      638840000.00
50%      789500000.00
75%      877520000.00
max     1196300000.00
Name: pds_q_ggexp, dtype: float64

country Czech Republic
isocode CZE
start: 1996Q1
end: 2022Q1
obs.: 105
des. stat. count            105.00
mean    195907714285.71
std      22406421240.40
min     157164000000.00
25%     184518000000.00
50%     195683000000.00
75%     205919000000.00
max     244381000000.00
Name: pds_q_ggexp, dtype: float64

country Germany
isocode DEU
start: 1991Q1
end: 2022Q1
obs.: 125
des. stat. count            125.00
mean    120122508000.00
std      18722275559.94
min      87134700000.00
25%     106842000000.00
50%     113821000000.00
75%     131803000000.00
max     163946000000.00
Name: pds_q_ggexp, dtype: float64

country Denmark
isocode DNK
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count            109.00
mean    115667068256.88
std      13166283324.66
min      90051420000.00
25%     106032000000.00
50%     118995000000.00
75%     127529000000.00
max     138020000000.00
Name: pds_q_ggexp, dtype: float64

country Spain
isocode ESP
start: 1995Q1
end: 2022Q2
obs.: 110
des. stat. count           110.00
mean    46488382727.27
std      9690881028.80
min     29962300000.00
25%     36966300000.00
50%     51462300000.00
75%     54230200000.00
max     60007700000.00
Name: pds_q_ggexp, dtype: float64

country Estonia
isocode EST
start: 1995Q1
end: 2022Q2
obs.: 110
des. stat. count     110.00
mean    46488.38
std      9690.88
min     29962.28
25%     36966.26
50%     51462.31
75%     54230.16
max     60007.66
Name: pds_q_ggexp, dtype: float64

country Finland
isocode FIN
start: 1990Q1
end: 2022Q1
obs.: 129
des. stat. count           129.00
mean    10396896011.26
std      1194952862.11
min      8317620185.00
25%      9278846227.00
50%     10660400000.00
75%     11297100000.00
max     12568700000.00
Name: pds_q_ggexp, dtype: float64

country France
isocode FRA
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count            170.00
mean    103481365294.12
std      20734605477.69
min      64614600000.00
25%      87051950000.00
50%     102686000000.00
75%     121021500000.00
max     139073000000.00
Name: pds_q_ggexp, dtype: float64

country United Kingdom
isocode GBR
start: 1955Q1
end: 2022Q2
obs.: 270
des. stat. count            270.00
mean     66468688888.89
std      22538197877.57
min      34367000000.00
25%      47755000000.00
50%      60722000000.00
75%      86034250000.00
max     117221000000.00
Name: pds_q_ggexp, dtype: float64

country Greece
isocode GRC
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count           109.00
mean    11634138848.83
std      1646803719.12
min      9813001530.00
25%     10420000000.00
50%     10880600000.00
75%     12465300000.00
max     15674200000.00
Name: pds_q_ggexp, dtype: float64

country Hong Kong SAR, China
isocode HKG
start: 1990Q1
end: 2022Q1
obs.: 129
des. stat. count           129.00
mean    55563542635.66
std     14951281073.88
min     29087000000.00
25%     43688000000.00
50%     53058000000.00
75%     64501000000.00
max     93958000000.00
Name: pds_q_ggexp, dtype: float64

country Croatia
isocode HRV
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count           109.00
mean    16633095412.84
std      2295520565.97
min     13064400000.00
25%     14331800000.00
50%     17461000000.00
75%     18052500000.00
max     23586700000.00
Name: pds_q_ggexp, dtype: float64

country Hungary
isocode HUN
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count             109.00
mean    1461704220183.49
std      191435452622.85
min     1155270000000.00
25%     1296160000000.00
50%     1459470000000.00
75%     1609060000000.00
max     1854670000000.00
Name: pds_q_ggexp, dtype: float64

country Indonesia
isocode IDN
start: 2000Q1
end: 2022Q2
obs.: 90
des. stat. count                90.00
mean    154214355555555.56
std      49238623887901.08
min      70404100000000.00
25%     115015750000000.00
50%     161889000000000.00
75%     197452750000000.00
max     230259000000000.00
Name: pds_q_ggexp, dtype: float64

country India
isocode IND
start: 1996Q2
end: 2022Q1
obs.: 104
des. stat. count             104.00
mean    2139957692307.69
std      995694442416.30
min      837300000000.00
25%     1268875000000.00
50%     1892700000000.00
75%     2874625000000.00
max     4623200000000.00
Name: pds_q_ggexp, dtype: float64

country Ireland
isocode IRL
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count           109.00
mean     7414399977.42
std      1691797200.17
min      4137667640.00
25%      6637389403.00
50%      7607683264.00
75%      8326354691.00
max     11475000000.00
Name: pds_q_ggexp, dtype: float64

country Israel
isocode ISR
start: 1995Q1
end: 2022Q2
obs.: 110
des. stat. count           110.00
mean    55880121818.18
std     12035776645.90
min     39480800000.00
25%     46972775000.00
50%     51718400000.00
75%     64411200000.00
max     81873700000.00
Name: pds_q_ggexp, dtype: float64

country Italy
isocode ITA
start: 1996Q1
end: 2022Q1
obs.: 105
des. stat. count           105.00
mean    78058954285.71
std      3785621739.86
min     69236600000.00
25%     77689900000.00
50%     78676500000.00
75%     80702900000.00
max     83236700000.00
Name: pds_q_ggexp, dtype: float64

country Japan
isocode JPN
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count              114.00
mean    23711028070175.44
std      3056428914483.96
min     17839300000000.00
25%     21592650000000.00
50%     23426750000000.00
75%     26275175000000.00
max     29286200000000.00
Name: pds_q_ggexp, dtype: float64

country Korea, Rep.
isocode KOR
start: 1960Q1
end: 2022Q2
obs.: 250
des. stat. count              250.00
mean    27045075200000.00
std     23303056034999.06
min      2925400000000.00
25%      7678800000000.00
50%     19874500000000.00
75%     41778025000000.00
max     87638000000000.00
Name: pds_q_ggexp, dtype: float64

country Lithuania
isocode LTU
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count          109.00
mean    1350114832.76
std      100238318.75
min     1125719501.00
25%     1247801701.00
50%     1403263701.00
75%     1420251941.00
max     1466272624.00
Name: pds_q_ggexp, dtype: float64

country Luxembourg
isocode LUX
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count          109.00
mean    1604813384.12
std      395253662.42
min      999466610.90
25%     1326004842.00
50%     1528549568.00
75%     1880223317.00
max     2477560934.00
Name: pds_q_ggexp, dtype: float64

country Latvia
isocode LVA
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count          109.00
mean     883123213.32
std      118645263.45
min      656689729.40
25%      798301215.70
50%      875911775.70
75%      984219135.70
max     1120656310.00
Name: pds_q_ggexp, dtype: float64

country Mexico
isocode MEX
start: 1993Q1
end: 2022Q1
obs.: 117
des. stat. count            117.00
mean    448135666666.67
std      65787978303.61
min     350081000000.00
25%     400636000000.00
50%     429693000000.00
75%     516120000000.00
max     557789000000.00
Name: pds_q_ggexp, dtype: float64

country Malta
isocode MLT
start: 2000Q1
end: 2022Q1
obs.: 89
des. stat. count          89.00
mean    357356409.13
std      90113581.69
min     261872261.90
25%     285906478.20
50%     333108886.60
75%     377452917.80
max     608737240.60
Name: pds_q_ggexp, dtype: float64

country Netherlands
isocode NLD
start: 1996Q1
end: 2022Q2
obs.: 106
des. stat. count           106.00
mean    37916019811.32
std      5933811655.52
min     26607200000.00
25%     33362850000.00
50%     41063100000.00
75%     41890350000.00
max     47892500000.00
Name: pds_q_ggexp, dtype: float64

country Norway
isocode NOR
start: 1978Q1
end: 2022Q2
obs.: 178
des. stat. count            178.00
mean    109033994382.02
std      33792063028.94
min      54718000000.00
25%      75113775000.00
50%     108503500000.00
75%     139236500000.00
max     169039000000.00
Name: pds_q_ggexp, dtype: float64

country New Zealand
isocode NZL
start: 1987Q2
end: 2022Q1
obs.: 140
des. stat. count           140.00
mean     8482242857.14
std      2416494916.53
min      5490000000.00
25%      6271500000.00
50%      7933000000.00
75%     10040250000.00
max     15197000000.00
Name: pds_q_ggexp, dtype: float64

country Poland
isocode POL
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count           109.00
mean    63520224770.64
std     14855061988.35
min     39768000000.00
25%     51037100000.00
50%     65943200000.00
75%     73333200000.00
max     93417700000.00
Name: pds_q_ggexp, dtype: float64

country Portugal
isocode PRT
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count          109.00
mean    8411170696.08
std      770869532.62
min     6427248286.00
25%     8297505580.00
50%     8536006662.00
75%     9018898572.00
max     9413150050.00
Name: pds_q_ggexp, dtype: float64

country Romania
isocode ROU
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count           109.00
mean    21698063006.73
std      3588855557.56
min      7975367734.00
25%     19667300000.00
50%     21585600000.00
75%     23053300000.00
max     40503500000.00
Name: pds_q_ggexp, dtype: float64

country Russian Federation
isocode RUS
start: 2003Q1
end: 2021Q3
obs.: 75
des. stat. count              75.00
mean    4016616400000.00
std      187460235802.52
min     3635210000000.00
25%     3914975000000.00
50%     4040620000000.00
75%     4125750000000.00
max     4403220000000.00
Name: pds_q_ggexp, dtype: float64

country Singapore
isocode SGP
start: 1975Q1
end: 2021Q2
obs.: 186
des. stat. count           186.00
mean     5327179569.89
std      3818688272.71
min       833200000.00
25%      2042475000.00
50%      4401800000.00
75%      8233225000.00
max     14540100000.00
Name: pds_q_ggexp, dtype: float64

country Slovak Republic
isocode SVK
start: 1995Q1
end: 2022Q1
obs.: 109
des. stat. count          109.00
mean    2997084777.50
std      533681899.45
min     2131056642.00
25%     2467566651.00
50%     3086072779.00
75%     3485021036.00
max     3888271707.00
Name: pds_q_ggexp, dtype: float64

country Slovenia
isocode SVN
start: 1995Q1
end: 2022Q2
obs.: 110
des. stat. count          110.00
mean    1683056406.93
std      261486564.49
min     1163817750.00
25%     1474953324.50
50%     1769226645.50
75%     1858614817.50
max     2163712933.00
Name: pds_q_ggexp, dtype: float64

country Sweden
isocode SWE
start: 1993Q1
end: 2022Q1
obs.: 117
des. stat. count            117.00
mean    220319290598.29
std      20190046748.53
min     192986000000.00
25%     204213000000.00
50%     214299000000.00
75%     237996000000.00
max     254643000000.00
Name: pds_q_ggexp, dtype: float64

country Thailand
isocode THA
start: 2003Q1
end: 2021Q4
obs.: 76
des. stat. count             76.00
mean    321811421052.63
std      72109159131.10
min     191300000000.00
25%     248756000000.00
50%     345944500000.00
75%     387747250000.00
max     436944000000.00
Name: pds_q_ggexp, dtype: float64

country Turkiye
isocode TUR
start: 1998Q1
end: 2022Q1
obs.: 97
des. stat. count            97.00
mean    45097075257.73
std     15391080140.39
min     24621700000.00
25%     30235800000.00
50%     42937800000.00
75%     57837100000.00
max     76088200000.00
Name: pds_q_ggexp, dtype: float64

country United States
isocode USA
start: 2002Q1
end: 2022Q2
obs.: 82
des. stat. count             82.00
mean    628336109756.10
std      27358087315.83
min     570537000000.00
25%     610520500000.00
50%     630555500000.00
75%     648824250000.00
max     676017000000.00
Name: pds_q_ggexp, dtype: float64

country South Africa
isocode ZAF
start: 1993Q1
end: 2022Q1
obs.: 117
des. stat. count            117.00
mean    170064487179.49
std      38589221200.65
min     116235000000.00
25%     126301000000.00
50%     171148000000.00
75%     210460000000.00
max     226829000000.00
Name: pds_q_ggexp, dtype: float64

In [20]:
# generate the count matrix for each country's quarterly data

for i in range(0, df_q_panel['isocode'].unique().shape[0]):
  
    globals()['cond_isocode_{}'.format(i+1)] = (df_q_panel['isocode'] == df_q_panel['isocode'].unique()[i])
    globals()['df_isocode_{}'.format(i+1)] = df_q_panel.loc[globals()['cond_isocode_{}'.format(i+1)]]
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['df_isocode_{}'.format(i+1)].groupby(globals()['df_isocode_{}'.format(i+1)]['quarter']).count()

    globals()['cond_pds_q_reer_{}'.format(i+1)] = (globals()['count_T_df_isocode_{}'.format(i+1)]['pds_q_reer'] == 0)
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['count_T_df_isocode_{}'.format(i+1)].loc[~globals()['cond_pds_q_reer_{}'.format(i+1)]]
    globals()['count_T_df_isocode_{}'.format(i+1)] = globals()['count_T_df_isocode_{}'.format(i+1)].reset_index()

    print('country', df_q_panel['country'].unique()[i])
    print('isocode', df_q_panel['isocode'].unique()[i])
    print('start:', globals()['count_T_df_isocode_{}'.format(i+1)]['quarter'].unique().min())
    print('end:', globals()['count_T_df_isocode_{}'.format(i+1)]['quarter'].unique().max())
    print('obs.:', globals()['count_T_df_isocode_{}'.format(i+1)]['pds_q_reer'].count())
    print('des. stat.', globals()['df_isocode_{}'.format(i+1)]['pds_q_reer'].describe())
    print('')

country Argentina
isocode ARG
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean    135.86
std      73.99
min      52.01
25%      78.24
50%     107.71
75%     227.29
max     281.92
Name: pds_q_reer, dtype: float64

country Australia
isocode AUS
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean     86.70
std      11.02
min      67.12
25%      77.04
50%      87.49
75%      94.29
max     110.51
Name: pds_q_reer, dtype: float64

country Austria
isocode AUT
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    101.44
std       3.40
min      93.93
25%      99.08
50%     101.72
75%     103.30
max     111.76
Name: pds_q_reer, dtype: float64

country Belgium
isocode BEL
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    100.66
std       4.82
min      91.85
25%      98.07
50%     100.62
75%     102.50
max     120.90
Name: pds_q_reer, dtype: float64

country Bulgaria
isocode BGR
start: 1993Q1
end: 2022Q2
obs.: 118
des. stat. count   118.00
mean     84.50
std      19.67
min      41.50
25%      69.10
50%      93.93
75%     100.77
max     110.07
Name: pds_q_reer, dtype: float64

country Brazil
isocode BRA
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean     82.22
std      16.73
min      48.66
25%      69.72
50%      81.40
75%      95.58
max     120.85
Name: pds_q_reer, dtype: float64

country Canada
isocode CAN
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     90.55
std      10.24
min      71.69
25%      81.91
50%      91.78
75%      99.58
max     109.40
Name: pds_q_reer, dtype: float64

country Switzerland
isocode CHE
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     97.45
std       6.92
min      81.54
25%      92.57
50%      96.43
75%     103.56
max     115.46
Name: pds_q_reer, dtype: float64

country Chile
isocode CHL
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean    105.00
std      24.66
min      82.79
25%      91.46
50%      97.11
75%     105.57
max     203.52
Name: pds_q_reer, dtype: float64

country Colombia
isocode COL
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean     92.79
std      24.66
min      63.34
25%      75.16
50%      84.82
75%     100.08
max     161.85
Name: pds_q_reer, dtype: float64

country Cyprus
isocode CYP
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean     95.85
std       6.45
min      82.24
25%      90.44
50%      94.46
75%     101.62
max     112.04
Name: pds_q_reer, dtype: float64

country Czech Republic
isocode CZE
start: 1990Q1
end: 2022Q2
obs.: 130
des. stat. count   130.00
mean     80.47
std      19.63
min      39.10
25%      64.55
50%      87.04
75%      98.44
max     114.16
Name: pds_q_reer, dtype: float64

country Germany
isocode DEU
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    104.65
std       7.24
min      91.46
25%      98.80
50%     104.83
75%     108.32
max     122.31
Name: pds_q_reer, dtype: float64

country Denmark
isocode DNK
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     95.82
std       4.46
min      84.43
25%      94.07
50%      96.41
75%      98.71
max     105.13
Name: pds_q_reer, dtype: float64

country Spain
isocode ESP
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean     95.10
std       6.87
min      76.07
25%      90.46
50%      95.56
75%      99.62
max     109.46
Name: pds_q_reer, dtype: float64

country Estonia
isocode EST
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     92.31
std      15.21
min      44.15
25%      83.15
50%      99.29
75%     102.78
max     116.91
Name: pds_q_reer, dtype: float64

country Finland
isocode FIN
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    109.66
std      12.58
min      93.86
25%      99.53
50%     105.58
75%     118.82
max     142.85
Name: pds_q_reer, dtype: float64

country France
isocode FRA
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean    102.96
std       6.51
min      89.90
25%      96.84
50%     103.90
75%     107.37
max     120.06
Name: pds_q_reer, dtype: float64

country United Kingdom
isocode GBR
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    116.31
std      12.97
min      95.64
25%     103.46
50%     116.45
75%     126.96
max     151.66
Name: pds_q_reer, dtype: float64

country Greece
isocode GRC
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean     89.27
std       7.10
min      70.82
25%      85.34
50%      89.70
75%      95.67
max     101.97
Name: pds_q_reer, dtype: float64

country Hong Kong SAR, China
isocode HKG
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean    120.12
std      15.83
min      93.07
25%     106.62
50%     119.02
75%     127.65
max     161.96
Name: pds_q_reer, dtype: float64

country Croatia
isocode HRV
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     94.18
std       3.77
min      86.62
25%      92.22
50%      93.84
75%      96.14
max     103.92
Name: pds_q_reer, dtype: float64

country Hungary
isocode HUN
start: 1990Q4
end: 2022Q2
obs.: 127
des. stat. count   127.00
mean     84.55
std      13.06
min      53.66
25%      71.77
50%      88.51
75%      94.28
max     111.02
Name: pds_q_reer, dtype: float64

country Indonesia
isocode IDN
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     88.36
std      12.94
min      41.66
25%      83.66
50%      89.99
75%      95.63
max     112.77
Name: pds_q_reer, dtype: float64

country India
isocode IND
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     94.71
std       4.99
min      84.45
25%      91.26
50%      94.07
75%      99.31
max     103.89
Name: pds_q_reer, dtype: float64

country Ireland
isocode IRL
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     95.66
std       7.51
min      81.24
25%      89.21
50%      96.23
75%     101.09
max     115.74
Name: pds_q_reer, dtype: float64

country Israel
isocode ISR
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    102.89
std       7.47
min      85.27
25%      98.57
50%     103.57
75%     108.11
max     117.78
Name: pds_q_reer, dtype: float64

country Italy
isocode ITA
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean    100.66
std       7.00
min      84.97
25%      95.56
50%      99.22
75%     103.28
max     119.99
Name: pds_q_reer, dtype: float64

country Japan
isocode JPN
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean     96.04
std      18.83
min      60.47
25%      78.21
50%      98.62
75%     108.62
max     149.05
Name: pds_q_reer, dtype: float64

country Korea, Rep.
isocode KOR
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean    109.46
std      10.74
min      76.62
25%     102.23
50%     108.35
75%     113.75
max     131.70
Name: pds_q_reer, dtype: float64

country Lithuania
isocode LTU
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     90.71
std      16.76
min      41.04
25%      87.92
50%      96.66
75%     101.35
max     114.59
Name: pds_q_reer, dtype: float64

country Luxembourg
isocode LUX
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     99.96
std       3.19
min      92.68
25%      98.74
50%      99.97
75%     101.20
max     112.00
Name: pds_q_reer, dtype: float64

country Latvia
isocode LVA
start: 1993Q1
end: 2022Q2
obs.: 118
des. stat. count   118.00
mean     91.45
std      12.59
min      54.25
25%      84.52
50%      95.28
75%     101.18
max     110.12
Name: pds_q_reer, dtype: float64

country Mexico
isocode MEX
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean     98.34
std      15.87
min      63.36
25%      85.20
50%      99.13
75%     109.23
max     141.63
Name: pds_q_reer, dtype: float64

country Malta
isocode MLT
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     98.94
std       8.87
min      85.28
25%      91.96
50%      96.71
75%     103.33
max     122.58
Name: pds_q_reer, dtype: float64

country Netherlands
isocode NLD
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    100.45
std       3.72
min      91.57
25%      97.54
50%      99.93
75%     102.83
max     114.24
Name: pds_q_reer, dtype: float64

country Norway
isocode NOR
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     94.78
std       6.35
min      75.89
25%      91.65
50%      96.09
75%      99.70
max     105.48
Name: pds_q_reer, dtype: float64

country New Zealand
isocode NZL
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     94.41
std      10.52
min      72.27
25%      85.27
50%      95.58
75%     103.23
max     114.96
Name: pds_q_reer, dtype: float64

country Poland
isocode POL
start: 1990Q4
end: 2022Q2
obs.: 127
des. stat. count   127.00
mean     88.73
std      13.35
min      43.45
25%      83.13
50%      92.55
75%      97.35
max     118.00
Name: pds_q_reer, dtype: float64

country Portugal
isocode PRT
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean     91.94
std      10.34
min      68.75
25%      82.31
50%      96.01
75%      99.01
max     105.15
Name: pds_q_reer, dtype: float64

country Romania
isocode ROU
start: 1990Q4
end: 2022Q2
obs.: 127
des. stat. count   127.00
mean     86.70
std      18.03
min      32.42
25%      76.28
50%      96.14
75%      99.77
max     116.24
Name: pds_q_reer, dtype: float64

country Russian Federation
isocode RUS
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     80.87
std      16.94
min      45.38
25%      70.38
50%      81.64
75%      93.40
max     109.83
Name: pds_q_reer, dtype: float64

country Singapore
isocode SGP
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    100.37
std       7.42
min      82.97
25%      95.30
50%     100.35
75%     106.89
max     112.83
Name: pds_q_reer, dtype: float64

country Slovak Republic
isocode SVK
start: 1990Q1
end: 2022Q2
obs.: 130
des. stat. count   130.00
mean     77.35
std      23.17
min      41.09
25%      52.83
50%      79.50
75%     100.08
max     105.10
Name: pds_q_reer, dtype: float64

country Slovenia
isocode SVN
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     97.16
std       2.86
min      84.43
25%      96.05
50%      97.48
75%      98.85
max     102.82
Name: pds_q_reer, dtype: float64

country Sweden
isocode SWE
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    114.91
std      18.16
min      84.37
25%     102.64
50%     112.79
75%     128.61
max     152.94
Name: pds_q_reer, dtype: float64

country Thailand
isocode THA
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     98.43
std       9.37
min      77.39
25%      90.96
50%     100.23
75%     105.33
max     118.89
Name: pds_q_reer, dtype: float64

country Turkiye
isocode TUR
start: 1994Q1
end: 2022Q2
obs.: 114
des. stat. count   114.00
mean     76.01
std      15.23
min      44.19
25%      62.88
50%      78.59
75%      88.38
max     102.23
Name: pds_q_reer, dtype: float64

country United States
isocode USA
start: 1980Q1
end: 2022Q2
obs.: 170
des. stat. count   170.00
mean    112.75
std      12.37
min      93.38
25%     103.85
50%     111.21
75%     117.65
max     157.58
Name: pds_q_reer, dtype: float64

country South Africa
isocode ZAF
start: 1979Q1
end: 2022Q2
obs.: 174
des. stat. count   174.00
mean    109.52
std      29.76
min      64.56
25%      83.24
50%     103.70
75%     126.07
max     186.92
Name: pds_q_reer, dtype: float64

## **3. export the data**

In [21]:
# generate the count matrix for quarterly panel data

count_N_df_q_panel = df_q_panel.groupby(df_q_panel['isocode']).count()
count_T_df_q_panel = df_q_panel.groupby(df_q_panel['quarter']).count()

In [22]:
# count matrix for quarterly panel data

count_N_df_q_panel.to_excel(excel_writer='count_N_df_q_panel.xlsx')
count_T_df_q_panel.to_excel(excel_writer='count_T_df_q_panel.xlsx')

In [23]:
# quarterly panel data

df_q_panel.to_excel(excel_writer='df_q_panel.xlsx')

## **4. references**

* https://data.oecd.org/ <br/>
* https://stats.bis.org/#ppq=XRU_D_24D;pv=1,2~4~1,0,0~both <br/>
* https://databank.worldbank.org/source/world-development-indicators/preview/on <br/>
* https://wits.worldbank.org/wits/wits/witshelp/content/codes/country_codes.htm <br/>
* https://ec.europa.eu/eurostat/en/web/main/data/database <br/>
* https://data.imf.org/?sk=4c514d48-b6ba-49ed-8ab9-52b0c1a0179b&sId=1409151240976 <br/>
* https://fred.stlouisfed.org/ <br/>